.error-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-body .error-message i {
  width: 100%;
}
h3 {
  text-align: center;
}

.left-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  animation: updown 5s ease infinite;
}

.right-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  animation: updown 5s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translatex(30%);
  }

  100% {
    transform: translateY(-50%);
  }
}
